body{
    background-image: url(hatter.jpg);
}


main{
    max-width: 80%;
    background-color:white;
    margin:auto;
}


nav li{
    text-decoration: none;
    
}

.row {
    margin:auto
}
